<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <a  style="font-size: 24px" class="navbar-brand">Your mole? it's my problem.</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-item nav-link"
          style="font-size: 20px"
          [routerLink]="'/'"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Главная</a
        >
        <a
          class="nav-item nav-link"
          style="font-size: 20px"
          [routerLink]="['/include', 0]"
          routerLinkActive="active"
          >Добавление</a >
      </div>
    </div>
  </nav> -->
  <!-- <!DOCTYPE html>
  <html lang="ru"> -->
    
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  </head>
  <div class="content">
    <form [formGroup]="registrForm">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
      <div class="header_list">
          <div class="header_title" >Э.С.О.Н.К. 🢣 {{ header_top }}</div>
            <div class="header_list_button">
            <button class="headerButton" *ngIf="this.isButtonVisible">🢠 Назад</button>
            <button class="headerButton" *ngIf="this.isButtonVisiblexite" (click)='exit()'>🚪 Выйти</button>
          </div>
        </div>
      </nav>
  <hr>
    </form>

