body{
    background-color: #F5F9FF;
}
*{
    margin: 0;
    padding: 0;
}
.content{
    text-align: center;
}
.content h1{
    margin: 30px auto;
}
.box{
    width: 50%;
    margin: 0px auto;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-content: center;
    flex-direction: column;
    background-color: #EEF4FF;
    box-shadow:
    -15px -15px 2px -5px rgba(123,51,90,.5),
    -15px 15px 2px -5px rgba(60,74,123,.5),
    15px -15px 2px -5px rgba(255,0,0,.5),
    15px 15px 2px -5px rgba(60,123,68,.5);
}
.box_list{
    width: 90%;
    margin: 30px auto;
    border-radius: 15px;
    padding: 20px 20px 80vh 20px;
    align-content: center;
    background-color: #CDD9ED;

    /* box-shadow:
    -15px -15px 2px -5px rgba(123,51,90,.5),
    -15px 15px 2px -5px rgba(60,74,123,.5),
    15px -15px 2px -5px rgba(255,0,0,.5),
    15px 15px 2px -5px rgba(60,123,68,.5); */
}
.header{
	background: #cb2d41;
	height: 70px;
}
.input_s_box {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}
.input_s_box .input_s{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input_s input{
    width: 100%;
    margin: 5px auto;
    border-radius: 4px;
    border-width: 0px 0px 1px 0px;
    height: 39px;
    font-size: 16px;
}
.input_s select{
    width: 100%;
    margin: 5px auto;
    border-radius: 4px;
    border: none;
    border-width: 0px 1px 1px 0px;
    height: 39px;
    cursor: pointer;
}
.button_s{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.button_s button{
    cursor: pointer;
    border-width: 0px 0px 1px 0px;
    background-color: #EEF4FF;
    font-size: 17px;
}
.button_s .remember{
    border: 1px solid black;
    border-width: 0px 0px 1px 0px;
    font-size: 17px; 
}
.button_s .remember .rememberBox{
    width: 17px;
    height: 17px;
}
.password {
	
	position: relative;
}
#password-input {

	padding: 5px 0;
	height: 30px;
	line-height: 40px;
	text-indent: 10px;
	border-radius: 4px;
    border-width: 0px 0px 1px 0px;
	font-size: 16px;
}
.password-control {
	position: absolute;
	top: 11px;
	right: 6px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}
.password-control.view {
	background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}