<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
  <form [formGroup]="registrForm">
    <div class="card" style="width: 50vw; margin: 50px auto;">
      <h1 class="bg-gradient-info card-header" style="background-color:rgb(211, 224, 250);;">Регистрация</h1>
      <div class="card-body">
          <div class="input_s_box">
              <div class="input_s">
                  <input type="text" class="form-control" formControlName="name" placeholder="Имя">
                  <input type="text" class="form-control" formControlName="surname" placeholder="Фамилия">
                  <input type="text" class="form-control" formControlName="additional_name" placeholder="Отчество">
                  <input id="sel" type="date" class="form-control" formControlName="dateOfBirth" >
                  
              </div>
              <div class="input_s">
                  <input type="email" class="form-control" formControlName="email" placeholder="Почта">
                  
                  <select class="form-control" formControlName="userType">
                      <option value="doctor">Доктор</option>
                  </select>
                  <input type="password" class="form-control" formControlName="password" placeholder="Пароль">
              </div>
          </div>
          <div class="button_s">
            <button type="button" class="btn btn-outline-secondary" (click)="onBackToLogin()">Назад</button>
            <button [disabled]="registrForm.invalid" type="button" class="btn btn-outline-success" (click)="onRegistration()">Зарегистрироваться</button>
          </div>
      </div>
    </div>
  </form>
