<div class="modal" id="modal">
  <div class="modal-dialog modal-xl"> 
    <div class="modal-content">
      <div class="modal-body">
        <img id="modalimg" src="" alt="">
      </div>
    </div>
  </div>
</div>
<script>
  window.onload = function(){
    window.myModal = new bootstrap.Modal(document.getElementById('modal'))
  }
</script>
<div class="card" style="width: 90vw; margin: 50px auto;">
  <h1 class="bg-gradient-info card-header" style="background-color:rgb(211, 224, 250);;">Консультация {{consultation.date | displayDate}}</h1>
  <div class="card-body">
    <div class="card mt-2">
      <div class="card-body">
        <h3 class="card-title" style="font-weight: bold;">Пациент</h3>
        <p class="card-text">
          <span *ngIf="user.name"><strong>Имя:</strong> {{user.name}} <br></span>
          <span *ngIf="user.surname"><strong>Фамилия:</strong> {{user.surname}} <br></span>
          <span *ngIf="user.additional_name"><strong>Отчество:</strong> {{user.additional_name}} <br></span>
          <span *ngIf="user.dateOfBirth"><strong>ДР:</strong> {{user.dateOfBirth | displayDate}},  <br></span>

        </p>
      </div>
    </div>
    <div class="card mt-2" *ngIf="consultation.diagnosis">
      <div class="card-body">
        <h3 class="card-title" style="font-weight: bold;">Диагноз</h3>
        <p class="card-text">{{ consultation.diagnosis }}</p>
      </div>
    </div>
    <div class="card mt-2" *ngIf="consultation.complaints">
      <div class="card-body">
        <h3 class="card-title" style="font-weight: bold;">Жалобы</h3>
        <p class="card-text">{{ consultation.complaints }}</p>
      </div>
    </div>
    <div class="card mt-2" *ngIf="consultation.examination">
      <div class="card-body">
        <h3 class="card-title" style="font-weight: bold;">Результат осмотра</h3>
        <p class="card-text">{{ consultation.examination }}</p>
      </div>
    </div>
    <div class="card mt-2" *ngIf="consultation.plans">
      <div class="card-body">
        <h3 class="card-title" style="font-weight: bold;">План обследования</h3>
        <p class="card-text">{{ consultation.plans }}</p>
      </div>
    </div>
    <div class="card mt-2" *ngIf="consultation.recommendations">
      <div class="card-body">
        <h3 class="card-title" style="font-weight: bold;">Рекомендации</h3>
        <p class="card-text">{{ consultation.recommendations }}</p>
      </div>
    </div>
    <div class="card mt-2" *ngIf="consultation.photos">
      <div class="card-body">
        <h3 class="card-title" style="font-weight: bold;">Фотоматериалы</h3>
        <div class="container border rounded p-0 mt-2 ml-0" style="text-align: center;">
          <div class="d-flex pl-2 pt-1" style="overflow-x: scroll; white-space:nowrap; flex-wrap: nowrap; width:100%;">
              <div class="mr-2" style="flex-basis:10vw; flex-shrink:0;"
              onclick="window.myModal.show()"
              *ngFor="let photo of photos">
                  <img class="d-block w-100" style="object-fit: cover; height: 85%;" src="{{photo.link}}" alt="">
                  <span class="d-block w-100">{{photo.minimapNum}}</span>
              </div>
        </div> 
      </div>
    </div>
  </div>
</div>