<div class="container">
  <button  type="button" class="btn btn-danger float-right" (click)='exit()'>Выйти</button>
  <button  type="button" class="btn btn-danger float-right" (click)='addNewPatient()'>Добавить нового</button>
  <hr>
  <div class="content">
    <div class="box_list">
      <!-- <div [(ngModel)] = "doctor"> -->
        <p *ngFor="let patient of patients">
          <a style="word-spacing: 11px;font-size: 20px" [routerLink]="['/doctor/workingWithPatient', patient._id]">{{ patient.email }}  {{ patient.name }}</a>
        </p> 
      <!-- </div> -->
    </div>
</div>
</div>