<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>

  <div class="card" style="width: 90vw; margin: 50px auto;">
        <div class="card-body">
          <form [formGroup]="consultationForm">
            <div class="container_spiski">
              <div class="dropdown" >
                <div class="select" (click)="toggleShow(6)">
                  <span> Диагноз ▼</span>
                </div>
                <div class="dropdown-menu" *ngIf="isShowns[6]" class="row container-fluid"  id="divshow">
                  <input type="text" formControlName="diagnose" placeholder=" Текст" class="inputCreateConsultation">
                </div>
              </div>
                <div class="dropdown">
                  <div class="select"(click)="toggleShow(0)">
                    <span >Жалобы ▼</span></div>
                  <div class="dropdown-menu" *ngIf="isShowns[0]" class="row container-fluid"  id="divshow">
                    <input type="text" formControlName="complaints" placeholder=" Текст" class="inputCreateConsultation">
                  </div>
                
                </div>

                <div class="dropdown" >
                  <div class="select" (click)="toggleShow(1)">
                    <span>Анамнез ▼</span>
                  </div>
                  <div class="dropdown-menu" *ngIf="isShowns[1]" class="row container-fluid"  id="divshow" >
                    <input type="text" formControlName="anamnesis" placeholder=" Текст" class="inputCreateConsultation">
                  </div>
                </div>

                <div class="dropdown" >
                  <div class="select" (click)="toggleShow(2)">
                    <span>Дерматоскопия ▼</span>
                  </div>
                  <div class="dropdown-menu" *ngIf="isShowns[2]" class="row container-fluid"  id="divshow">
                    <input type="text" formControlName="dermatoscopy" placeholder=" Текст" class="inputCreateConsultation">
                  </div>
                </div>

                <div class="dropdown" >
                  <div class="select"(click)="toggleShow(3)">
                    <span >План обследования ▼</span>
                  </div>
                  <div class="dropdown-menu" *ngIf="isShowns[3]" class="row container-fluid"  id="divshow">
                    <input type="text" formControlName="survey" placeholder=" Текст" class="inputCreateConsultation">
                  </div>
                </div>

                <div class="dropdown" >
                  <div class="select" (click)="toggleShow(4)">
                    <span >Рекомендации ▼</span>
                  </div>
                  <div class="dropdown-menu" *ngIf="isShowns[4]" class="row container-fluid"  id="divshow">
                    <input type="text" formControlName="recommendations" placeholder=" Текст" class="inputCreateConsultation">
                  </div>
                </div>

                <div class="dropdown">
                  <div class="select"(click)="toggleShow(5)">
                    <span  > Гистология ▼</span>
                  </div>
                  <div class="dropdown-menu" *ngIf="isShowns[5]" class="row container-fluid"  id="divshow">
                    <input type="text" formControlName="histology" placeholder=" Текст" class="inputCreateConsultation">
                  </div>
                </div>
                  <div class="itemInfo1">
                    <div class="form-group">
                      <label for="file">Choose File</label>
                      <input type="file"
                            id = "file"
                            class="file-upload"
                             (change)="handleFileInput($event)">
                      </div>
                    <!-- <div class="images" *ngFor="let image of imagesList" (deferLoad)="image.show = true">
                      <ng-container *ngIf="image.show">
                        <img src={{image.url}}>
                      </ng-container>
                    </div> -->
                  </div>
                  
          </div>
        </form>
          <div class="button_s">
            <button (click)="goBack()">Отмена</button>
            <button (click)="create()">Продолжить</button>
        </div>
        </div>
    </div>
