<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
  <div class="card" style="width: 90vw; margin: 50px auto;"  >
        <div class="card-body">
          <form [formGroup]="consultationForm">
            <div class="container_spiski">
              <div class="dropdown" >
                <div class="select" (click)="toggleShow(6)">
                  <span> Диагноз ▼</span>
                </div>
                <div class="dropdown-menu" *ngIf="isShowns[6]" class="row container-fluid"  id="divshow">
                  <input type="text" formControlName="diagnosis" placeholder=" Текст" class="inputCreateConsultation pl-2">
                </div>
              </div>
                <div class="dropdown">
                  <div class="select"(click)="toggleShow(0)">
                    <span >Жалобы ▼</span></div>
                  <div class="dropdown-menu" *ngIf="isShowns[0]" class="row container-fluid"  id="divshow">
                    <input type="text" formControlName="complaints" placeholder=" Текст" class="inputCreateConsultation pl-2">
                  </div>
                
                </div>

                <!-- <div class="dropdown" >
                  <div class="select" (click)="toggleShow(1)">
                    <span>Анамнез ▼</span>
                  </div>
                  <div class="dropdown-menu" *ngIf="isShowns[1]" class="row container-fluid"  id="divshow" >
                    <input type="text" formControlName="anamnesis" placeholder=" Текст" class="inputCreateConsultation pl-2">
                  </div>
                </div> -->

                <!-- <div class="dropdown" >
                  <div class="select" (click)="toggleShow(2)">
                    <span>Дерматоскопия ▼</span>
                  </div>
                  <div class="dropdown-menu" *ngIf="isShowns[2]" class="row container-fluid"  id="divshow">
                    <input type="text" formControlName="dermatoscopy" placeholder=" Текст" class="inputCreateConsultation pl-2">
                  </div>
                </div> -->

                <div class="dropdown" >
                  <div class="select"(click)="toggleShow(2)">
                    <span >Результат осмотра ▼</span>
                  </div>
                  <div class="dropdown-menu" *ngIf="isShowns[2]" class="row container-fluid"  id="divshow">
                    <input type="text" formControlName="examination" placeholder=" Текст" class="inputCreateConsultation pl-2">
                  </div>
                </div>

                <div class="dropdown" >
                  <div class="select"(click)="toggleShow(3)">
                    <span >План обследования ▼</span>
                  </div>
                  <div class="dropdown-menu" *ngIf="isShowns[3]" class="row container-fluid"  id="divshow">
                    <input type="text" formControlName="plans" placeholder=" Текст" class="inputCreateConsultation pl-2">
                  </div>
                </div>

                <div class="dropdown" >
                  <div class="select" (click)="toggleShow(4)">
                    <span >Рекомендации ▼</span>
                  </div>
                  <div class="dropdown-menu" *ngIf="isShowns[4]" class="row container-fluid"  id="divshow">
                    <input type="text" formControlName="recommendations" placeholder=" Текст" class="inputCreateConsultation pl-2">
                  </div>
                </div>

                <!-- <div class="dropdown">
                  <div class="select"(click)="toggleShow(5)">
                    <span  > Гистология ▼</span>
                  </div>
                  <div class="dropdown-menu" *ngIf="isShowns[5]" class="row container-fluid"  id="divshow">
                    <input type="text" formControlName="histology" placeholder=" Текст" class="inputCreateConsultation pl-2">
                  </div>
                </div> -->
                <div class="container border rounded p-0 mt-3">
                    <div class="row mx-auto">
                        <div class="col-sm-6 col-2 p-0">
                                <input type="file" id = "file" (change)="handleFileInput($event)" hidden>
                                <button [disabled]="halt?true:false" style="font-size:14px;" class="btn btn-outline-secondary w-100 px-0" onclick="document.getElementById('file').click()">Загрузить фото</button>
                            </div>
                            <div class="col-sm-6 col-9 p-0 align-self-center">
                                <span class="w-100 align-middle">Загружено {{photos.length}} фото</span>
                            </div>
                        </div>
                    </div>
                  <div class="container border rounded p-0 mt-2" [hidden]="photos.length>0?false:true">
                    <div class="d-flex pl-2 pt-1" style="overflow-x: scroll; white-space:nowrap; flex-wrap: nowrap; width:100%;">
                        <div class="mr-2" style="flex-basis:10vw; flex-shrink:0;"
                        *ngFor="let photo of photos">
                            <img class="d-block w-100" style="object-fit: cover; height: 85%;" src="{{photo.link}}" alt="">
                            <span class="d-block w-100">{{photo.minimapNum}}</span>
                        </div>
                  </div>   
                </div>  
          </div>
        </form>
          <div class="button_s">
            <button class="btn btn-outline-secondary" (click)="goBack()" (keyup.esc)="goBack()">Отмена</button>
            <button class="btn btn-outline-success" (click)="create()">Продолжить</button>
        </div>
        </div>
    </div>
