<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

</head>
<body>
        <form [formGroup]="patientForm">
            <div class="card" style="width: 90vw; margin: 50px auto;">
                <h1 class="bg-gradient-info card-header" style="background-color:rgb(211, 224, 250);;">Создать пациента</h1>
                <div class="card-body">
                <div class="box1">
                    <div class="item21">
                        <div class="block1">
                            
                            <div class="text1">
                                <h3>Информация о пациенте</h3>
                                
                            </div>
                            <div  class="itemInfo1 pl-2">
                                <div>
                                    <span *ngIf="patients.name"><b>Имя:</b> {{patients.name}} <br> </span>
                                    <span *ngIf="patients.surname"><b>Фамилия:</b> {{patients.surname}} <br> </span>
                                    <span *ngIf="patients.additional_name"><b>Отчество:</b> {{patients.additional_name}} <br> </span>
                                    <span *ngIf="patients.email"><b>E-mail:</b> {{patients.email}} <br> </span>
                                    <span *ngIf="patients.dateOfBirth"><b>Дата рождения:</b> {{patients.dateOfBirth | displayDate}} <br> </span>
                                </div>
                                <!-- <div *ngFor="let item of testObject | keyvalue: reverseKeyOrder">
                                    <b>{{item.key}}</b>  <b>{{item.value}}</b>
                               </div> -->
                            </div>
                        </div>
                        <div class="block1">
                            <div class="text1">
                                <h3>Консультации</h3>
                                <button class="btn btn-outline-secondary"(click)="createCon()">Создать</button>
                            </div>
                            <div class="itemInfo1 pl-2">
                                <p *ngFor="let consultation of patients.consultations?.reverse()">
                                    <a style="font-size: 16px; color:#303030; text-decoration: underline; text-decoration-style:solid;" [routerLink]="['/doctor/workingWithPatient',q,'lookingAtConsultation',consultation.id]">Консультация {{consultation.date | displayDate}}</a>
                                </p>  
                            </div>
                        </div>
                    </div>
                    <div class="item21">
                        <div class="block1">
                            <div class="text1">
                                <h3>Диагноз</h3>
                                <button class="btn btn-outline-secondary"(click)="changeDi()">Создать</button>
                            </div>
                            <div class="itemInfo1 pl-2">
                                 <p *ngFor="let diagnosis of patients.diagnoses?.reverse()">
                                    <a style="font-size: 16px; color:#303030; text-decoration: underline; text-decoration-style:solid;" [routerLink]="['/doctor/workingWithPatient',q,'lookingAtDiagnose',diagnosis.id]">{{ diagnosis.diagnosisTLDR }}  ({{diagnosis.date | displayDate}})</a>
                                  </p>  
                            </div>
                        </div>
                        <div class="block1">
                            <div class="text1">
                                <h3>Операции</h3>

                                <button class="btn btn-outline-secondary" (click)="createOp()">Создать</button>
                            </div>
                            <div class="itemInfo1">
                                <p *ngFor="let patient of patients.operations?.reverse()">
                                    <a style="font-size: 16px; color:#303030; text-decoration: underline; text-decoration-style:solid;" [routerLink]="['/doctor/workingWithPatient',q,'lookingAtOperation', patient.id]">{{ patient.descriptionTLDR }}  {{ patient.date | displayDate }}</a>
                                  </p> 
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
                <!-- </div>
        
                <h3>Информация о пациенте</h3>
                
            </div> -->
            <!-- <div class="item2">
                
                <div class="block">
                    <div class="text" >
                        <h3>диагноз</h3>
                        <button  class="btn btn-outline-secondary" (click)="changeDi()">Создать</button>
                    </div>
                    <p *ngFor="let patient of patients">
                        <a style="word-spacing: 11px;font-size: 20px" [routerLink]="['/doctor/workingWithPatient', patient._id]">{{ patient.email }}  {{ patient.name }}</a>
                      </p> 
                </div>
                <div class="block">
                    <div class="text">
                        <h3>консультации</h3>
                        <button class="btn btn-outline-secondary" (click)="createCon()">Создать</button>
                    </div>
                    <p *ngFor="let patient of patients">
                        <a style="word-spacing: 11px;font-size: 20px" [routerLink]="['/doctor/workingWithPatient', patient._id]">{{ patient.email }}  {{ patient.name }}</a>
                      </p> 
                </div>
                <div class="block">
                    <div class="text">
                        <h3>операции</h3>
                        <button class="btn btn-outline-secondary" (click)="createOp()">Создать</button>
                    </div>
                    <p *ngFor="let patient of patients">
                        <a style="word-spacing: 11px;font-size: 20px" [routerLink]="['/doctor/workingWithPatient', patient._id]">{{ patient.email }}  {{ patient.name }}</a>
                      </p> 
                </div> -->

    </form>
</body>
</html>